* {
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background: linear-gradient(to right, rgb(159, 157, 157), white, gray);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: #fff;
  padding: 20px;
}

.logo {
  font-size: 24px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5vw;
}

.nav-links a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}


.main {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  margin-left: 20px;
}

.main>* {
  flex-basis: 95%;
}

input {
  width: 80%;
  border-radius: 2px;
  border: rgb(161, 158, 158) 1px solid;
  padding: 10px;
  box-shadow: 1px 2px 3px;
}

input::placeholder {
  color: black;
}

button {
  margin-top: 20px;
  width: 150px;
  padding: 10px;
  /* background-color: black; */
  color: rgb(2, 2, 2);
  margin-left: 20px;
  cursor: pointer;
  background: linear-gradient(to right, black, white, black);
}